.cooperation {
  line-height: 2rem;
  height: 100%;
  color: $footerColor;

  .site_container {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px 20px 20px;
  }

  i {
    padding-right: 20px;
    font-size: 2rem;
  }

  h1 {
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 20px;
  }
  h2 {
    font-weight: bold;
    font-size: 1.1rem;
    padding-top: 20px;
  }

  h3 {
    font-weight: bold;
    padding-top: 20px;
  }
  p {
    padding-bottom: 20px;
    span {
      font-weight: bold;
    }
  }

  .order {
    border-bottom: 1px solid rgba(0, 122, 61, 0.5);
    font-size: 1.5rem;
    font-weight: bold;
    color: $getgadgetColor;
    padding: 1rem 0 1rem 0;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 200ms ease;

    &:hover {
      background-color: rgba(0, 122, 61, 0.05);
    }
  }
}
