@import url('https://fonts.googleapis.com/css?family=Charmonman&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$font-primary: 'Open Sans';
$logo-font: 'Charmonman';

$base-font-size: 14px;